.course-roster .entry .removed, 
.course-roster .entry .submissions, 
.course-roster .entry .error {
  grid-column: 1 / span 5;
}

.course-roster .entry .submissions-table {
  margin: auto;
}

.course-roster .entry .submissions footer.pagination {
  font-size: 0.75rem;
}

.course-roster .entry .submissions footer.pagination button {
  font-size: 0.75rem;
}
