.course-roster {
  margin: auto;
}

.course-roster > thead > tr, .course-roster > tbody > tr {
  display: grid;
  grid-template-columns: repeat(4, 10rem) 15rem;
}

.course-roster > thead > tr > th {
  border-top: 1px solid black;
}

.course-roster > thead > tr > th, .course-roster > tbody > tr > td {
  border-bottom: 1px solid black;
}

.course-roster > tbody > tr > td.full-row {
  grid-column: 1 / span 5;
}
