.course-items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

.course-item-link:hover {
  text-decoration: none;
}

.course-item {
  background-color: lightblue;
  padding: 0.5rem 1rem;
  display: grid;
  grid-template: repeat(3, max-content) / 5rem 1fr max-content;
  justify-content: space-between;
  column-gap: 0.5rem;
}

.course-item > .avatar {
  grid-column: 1;
  grid-row: 1 / span 3;
  justify-self: stretch;
  align-self: center;
}

.course-item > .title {
  margin: 0;
  grid-row: 1 / span 3;
  grid-column: 2;
  justify-self: start;
  align-self: center;
}

.course-item > .description {
  padding: 0.5rem 0;
}

.course-item > :not(.avatar):not(.title) {
  grid-column: 3;
  justify-self: end;
}

.course-item h3 {
  display: inline;
  font-size: 1rem;
}

.course-item > .instructors, .course-item > .instructors > span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
