footer.pagination {
  position: absolute;
  width: 100%;
  bottom: 2rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.with-pagination {
  position: relative;
  padding-bottom: 4rem;
}
